#root{
    position: relative;
    top: 200px;
    background-color: aqua;
    border: 10px solid rgb(20, 19, 19) ;
    border-radius: 50%;
    width:100%;
    height: 100%;
    font-size: 30px;
    text-align:center;
}